
.header-sec {
  background: #000;
  min-height: 10px;
  -webkit-background-size: none;
  -moz-background-size: none;
  -o-background-size: none;
  background-size: none;
  position: none;
}
header{
  height: 100px;
}
.header-sec .layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: none;
}
.header-sec .header-menu ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: all 0.70s ease-in-out;
}

.header-sec .header-menu ul li.home2 a{
  color: #fff;
  font-weight: bold;
  padding: 8px 15px;
  background-color: #006ab0;
  border-radius: 10px;
}
.Services h1{
  margin-top: 100px;
  margin-right: 630px;
  color: #00416c;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Markazi Text', serif;
  width: fit-content;
  border-bottom: 4px solid #00416c;
}
.Services p{
  width: 650px;
  margin: 30px auto;
  color: #000;
  font-size: 20px;
  font-family: 'Markazi Text', serif;
  line-height: 50px;
  text-align: center;
}
